.tickets {
    display: flex;
    flex-direction: column;
}

.ticket {
    background: lightgoldenrodyellow;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

.button {
    margin: 5px 5px 5px 0px;
}

.search {
    width: 300px;
}

.ticket-footer {
    border-top: 2px dotted black;
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 0px 0px
}

.ticket-header {
    font-weight: bold;
}

.ticket_finish {
    float: right;
}
